/* Defaults */

* {
    box-sizing: border-box;
    outline: none;
    font-family: Helvetica, sans-serif;
}

h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
}

h2 {
    font-size: 1.8rem;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
}

h3 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
}

h4 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
}

p {
    font-size: 1rem;
    margin-top: 0;
    margin-bottom: 0;
}

a {
    text-decoration: none;
}

.clickable:hover {
    cursor: pointer;
}

.btn,
input[type="submit"] {
    border: 0;
    border-radius: 5px;
    padding: 10px 15px;
}

.btn:hover,
input[type="submit"]:hover {
    cursor: pointer;
}

.form {
    border: 0;
    border-radius: 5px;
    padding: 20px;
}

.form input[type="text"],
.form input[type="password"] {
    height: 2rem;
    font-size: 1.2rem;
    border: 1px silver solid;
    border-radius: 3px;
    margin: 5px auto;
    padding: 0 5px;
    background: #FFF;
    width: 100%;
}

.form .error {
    font-size: 0.8rem;
    color: red;
    font-style: italic;
    margin: 0.1rem auto;
}

.hide-overflow {
    overflow: hidden;
}


/* Color Themes */

.light-theme {
    background: rgb(223, 223, 223);
    color: rgb(66, 66, 66);
}

.dark-theme {
    background: rgb(43, 43, 43);
    color: rgb(231, 231, 231);
}

.btn-success {
    background: green;
    color: white;
}

.btn-danger {
    background: red;
    color: white;
}


/* Shadows */

.shadow-sm {
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.2);
}


/* Positioning */

.flex-row-start {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.flex-row-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.flex-row-end {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.flex-row-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.flex-row-evenly {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.flex-col-start {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.flex-col-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-col-end {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.flex-col-between {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
}

.flex-col-evenly {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-evenly;
}

.justify-start {
    justify-self: flex-start;
}

.align-start {
    align-self: flex-start;
}

.justify-end {
    justify-self: flex-end;
}

.align-end {
    align-self: flex-end;
}

.wrap {
    flex-wrap: wrap;
}


/* Spacing */

.my-sm {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.my-md {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.my-lg {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.my-auto {
    margin-top: auto;
    margin-bottom: auto;
}

.mx-sm {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.mx-md {
    margin-left: 1rem;
    margin-right: 1rem;
}

.mx-lg {
    margin-left: 2rem;
    margin-right: 2rem;
}

.mx-auto {
    margin-right: auto;
    margin-left: auto;
}

.px-sm {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

.px-md {
    padding-right: 1rem;
    padding-left: 1rem;
}

.py-sm {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.py-md {
    padding-top: 1rem;
    padding-bottom: 1rem;
}


/* Container sizing */

.width-full {
    width: 100vw;
}

.width-100 {
    width: 100%;
}

.width-80 {
    width: 80%;
}

.width-75 {
    width: 75%;
}

.width-50 {
    width: 50%;
}

.width-25 {
    width: 25%;
}

.width-500-px {
    width: 500px;
}

.height-full {
    height: 100vh;
}

.height-100 {
    height: 100%;
}

.height-75 {
    height: 75%;
}

.height-50 {
    height: 50%;
}

.height-25 {
    height: 25%;
}


/* Icon sizing */

.icon:hover {
    color: silver;
}

.icon-sm {
    width: 25px;
    height: 25px;
}

.icon-md {
    width: 40px;
    height: 40px;
}

.icon-lg {
    width: 60px;
    height: 60px;
}


/* Styling */

.italic {
    font-style: italic;
}